Data/ICES_Acoustic_data_format_description/XML/ValidationResult.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xsd:element name="Result" type="Result"/>

  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element name="Status" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Value" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
  </xsd:complexType>
</xsd:schema>